#face {
  fill: #673200;
}

.left-ear {
  fill: #673200;
}

.ear-pink {
  fill: #673200;
}

#left-eye {

}

.mouth {
  overflow: hidden;
}

#nose {
  fill: #ffaaca;
}

#mouth-back {
  fill: #c65b00;
}
