#right-ear {
  animation: move 2s linear;
  animation-delay: 2s;
}

#left-ear {
  animation: move 2s linear;
  animation-delay: 2s;
}

@keyframes move {

  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-.5em);
  }

  100% {
    transform: translateY(0);
  }

}

#right-eye, #left-eye {
  animation: eyes 2s linear;
  transition: all .25s linear;
}

@keyframes eyes {

  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(.5em);
  }

  100% {
    transform: translateX(0);
  }
}
